TESTS_TIMEOUT="60_000"
RPC_ENDPOINT=""
WALLET_PRIVATE_KEY=""
WALLET_MNEMONIC=""
TRANSACTION_HASH=""
BASE_TOKEN_ADDRESS=""
QUOTE_TOKEN_ADDRESS=""
BASE_TOKEN_SYMBOL=""
QUOTE_TOKEN_SYMBOL=""
BASE_TOKEN_AMOUNT=""
QUOTE_TOKEN_AMOUNT=""
