.env
node_modules
dist
logs
.bun
debug.log
*.log
.idea
*.iml

resources/configuration/development.yml
resources/configuration/staging.yml
resources/configuration/production.yml

temporary/unversioned/**
