.env
node_modules
dist
.bun
logs
*.log
debug.log
.idea
*.iml

resources/configuration/development.yml
resources/configuration/staging.yml
resources/configuration/production.yml

resources/database/database.sqlite

temporary/unversioned/**
